.ft-scroll-y {
  overflow-y: scroll;
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-grab {
  cursor: grab;
  &:active {
    cursor: grabbing;
  }
}
.text-decoration-none {
  text-decoration: none;
}
.long-and-truncated {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.rounded-6 {
  border-radius: 0.6rem;
}
.w-20 {
  width: 20%;
}
.w-25 {
  width: 25%;
}
.w-30 {
  width: 30%;
}
.w-40 {
  width: 40%;
}
.w-45 {
  width: 45%;
}
.w-60 {
  width: 60%;
}
.w-70 {
  width: 70%;
}
.w-80 {
  width: 80%;
}
.w-90 {
  width: 90%;
}
.ft-fs-1 {
  font-size: 3.5rem;
}

.ft-fs-2 {
  font-size: 2.5rem;
}

.ft-fs-3 {
  font-size: 2rem;
}
.w-fit {
  width: fit-content;
}
.h-fit {
  height: fit-content;
}

// BOX-SHADOW
.ft-normal-hover {
  &:hover {
    box-shadow: 0px 2px 4px rgba(42, 83, 204, 0.2);
  }
}

.ft-style-1-shadow {
  box-shadow: 0px 2px 4px rgba(42, 83, 204, 0.12);
}

.ft-style-1-shadow-hover {
  &:hover {
    box-shadow: 0px 2px 4px rgba(42, 83, 204, 0.12);
  }
}

.ft-style-2-shadow {
  box-shadow: 0px 9px 18px rgba(42, 83, 204, 0.08);
}

.ft-style-2-shadow-hover {
  &:hover {
    box-shadow: 0px 9px 18px rgba(42, 83, 204, 0.08);
  }
}

// BACKGROUP_COLOR
.ft-bg-prime {
  background: $prime;
}
.ft-bg-prime98 {
  background: $prime98;
}
.ft-bg-prime97 {
  background: $prime97;
}
.ft-bg-prime93 {
  background: $prime93;
}
.ft-bg-prime88 {
  background: $prime88;
}
.ft-bg-black {
  background: $black;
}
.ft-bg-dar1 {
  background: $dark1;
}
.ft-bg-dark2 {
  background: $dark2;
}
.ft-bg-dark3 {
  color: $dark3;
}
.ft-bg-light1 {
  background: $light1;
}
.ft-bg-light2 {
  background: $light2;
}
.ft-bg-light3 {
  background: $light3;
}
.ft-bg-light100 {
  background: $light100;
}

// COLOR
.ft-color-prime {
  color: $prime;
}
.ft-color-prime98 {
  color: $prime98;
}
.ft-color-prime97 {
  color: $prime97;
}
.ft-color-prime93 {
  color: $prime93;
}
.ft-color-prime88 {
  color: $prime88;
}
.ft-color-black {
  color: $black;
}
.ft-color-dark1 {
  color: $dark1;
}
.ft-color-dark2 {
  color: $dark2;
}
.ft-color-dark3 {
  color: $dark3;
}
.ft-color-light1 {
  color: $light1;
}
.ft-color-light2 {
  color: $light2;
}
.ft-color-light3 {
  color: $light3;
}
.ft-color-light100 {
  color: $light100;
}
.ft-color-red {
  color: $red;
}
.ft-color-green {
  color: #09b7bf;
}
.ft-color-green1 {
  color: #90d36b;
}
.ft-color-green2 {
  color: #7bdcb5;
}
.ft-color-blue1 {
  color: $blue1;
}
// Border color
.ft-border-color-dark3 {
  border-color: $dark3 !important;
}
.ft-border-color-light2 {
  border-color: $light2 !important;
}
.ft-border-color-prime88 {
  border-color: $prime88 !important;
}
