.packages-autocomplete-dropdown {
  .ant-select-item-option-selected {
    &:not(.ant-select-item-option-disabled) {
      background: none;
      font-weight: normal;
    }
  }
  .ant-select-item-option {
    &:not(:last-child) {
      border-bottom: 1px solid $light2;
    }
  }
  .ant-select-item-option-active {
    &:hover {
      background: $prime97;
    }
  }
  .ant-select-item-option-content {
    white-space: pre-line;
  }
  .ant-select-item-option-active {
    &:not(.ant-select-item-option-disabled) {
      background-color: $prime97;
    }
  }
}

.packages-autocomplete-input {
  .ant-input-group-addon {
    padding: 0;
  }
}

.ft-dropdown {
  .ant-dropdown-menu {
    max-height: 220px;
    overflow-y: scroll;
  }
  .ant-dropdown-menu-item {
    padding: 10px 30px;
    &-selected {
      background: $prime93;
      color: $prime;
      font-size: 16px;
    }
  }
}

.ant-popover-inner-content {
  max-width: 400px;
}
.ant-table-wrapper {
  border: 1px solid $prime93;
  border-bottom-width: 0;
  .ant-table-thead {
    border-bottom: 1px solid $prime93;
  }
}
.ant-table-thead > tr > th {
  font-weight: 600;
}

.custom-color-input {
  .ant-input-group-addon {
    padding: 0;
  }
  .ant-input-lg {
    height: 42px;
  }
}

.ant-spin-dot-item {
  background: $prime;
}

.ant-btn-primary {
  background: $prime;
  border-color: $prime;
  &:hover {
    background: $prime;
    border-color: $prime;
  }
}

.ant-radio-group-solid
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  background: $prime;
  border-color: $prime;
  &:hover {
    background: $prime;
    border-color: $prime;
  }
}

.ant-switch-checked {
  background: $prime;
}

.ant-input-textarea {
  &:hover {
    border-color: $prime;
  }
}

.monaco-editor-container {
  /* the up most container of the editor */
  filter: invert(1) hue-rotate(170deg) brightness(0.8) grayscale(0.3);
}

.ft-chrome-picker {
  .ant-popover-inner-content {
    padding: 0;
  }
}

.ant-upload.ant-upload-drag {
  border: 2px dashed $prime88;
  border-radius: 6px;
  &:hover {
    border: 2px dashed $prime;
  }
}

.ant-drawer-header {
  padding: 16px 15px;
}
.ant-drawer-body {
  padding: 15px;
}

.ant-drawer-title {
  padding-right: 5rem;
}

.ant-popover-inner {
  max-height: 50rem;
  overflow-y: scroll;
}
