.react-grid-layout {
  width: 100% !important;
  height: 100% !important;
  overflow-y: scroll;
  background: $prime97;
  .react-grid-item {
    background: $prime;
    box-shadow: 0px 2px 4px rgba(42, 83, 204, 0.12);
    // border: 1px solid $prime88;
    border-radius: 6px;
    & > .react-resizable-handle::after {
      border-color: $prime;
    }
  }
}
