.react-grid-layout {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  .react-grid-item {
    background: $prime88;
    border-radius: 8px;
  }
}

.ft-draggable-grid {
  height: 100%;
}
