$icon-sizes: (
  "tiny": (
    "height": 12,
    "width": 12,
  ),
  "xs": (
    "height": 16,
    "width": 16,
  ),
  "sm": (
    "height": 20,
    "width": 20,
  ),
  "md": (
    "height": 24,
    "width": 24,
  ),
  "lg": (
    "height": 30,
    "width": 30,
  ),
  "lgx": (
    "height": 40,
    "width": 40,
  ),
  "xl": (
    "height": 50,
    "width": 50,
  ),
  "xxl": (
    "height": 80,
    "width": 80,
  ),
  "xxxl": (
    "height": 130,
    "width": 130,
  ),
);

.ft-icon {
  transition: all 0.3s ease-out;
  @each $size, $dimension in $icon-sizes {
    &-#{$size} {
      width: rem(map-get($dimension, "width"));
      height: rem(map-get($dimension, "height"));
    }
  }
}

.ft-icon-wrapper {
  background: transparent;
  transform: background 0.3s ease-out;
  @each $size, $dimension in $icon-sizes {
    &-#{$size} {
      width: rem(map-get($dimension, "width") * 1.3);
      height: rem(map-get($dimension, "height") * 1.3);
    }
  }
}

.ft-card-action-icon {
  & .ft-icon-wrapper {
    color: $prime-shade-62;
    &:hover {
      background: $prime93;
      .ft-icon {
        color: $prime;
      }
    }
  }
}

.ft-table-action-icon {
  & .ft-icon-wrapper {
    color: $dark4;
    &:hover {
      .ft-icon {
        color: $dark5;
      }
    }
  }
}

.ft-table-action-icon-red {
  & .ft-icon-wrapper {
    color: $red1;
    &:hover {
      .ft-icon {
        color: $red2;
      }
    }
  }
}

.ft-table-action-icon-prime {
  & .ft-icon-wrapper {
    color: $prime-shade-45;
    &:hover {
      .ft-icon {
        color: $prime-shade-65;
      }
    }
  }
}

.ft-empty-icon {
  & .ft-icon-wrapper {
    color: $light2;
  }
}
