.ft-icon-details {
  width: 100%;
  height: 100%;
  &__header {
    height: 4rem;
  }
  &__details {
    height: calc(100% - 4rem);
    .ft-icon-card {
      .icon-wrap {
        height: 10rem;
        width: 16rem;
        border-radius: 6px;
        .icon-img-wrap {
          visibility: visible;
          transition: visibility 1s linear, opacity 1s linear;
        }
        .btns-wrap {
          visibility: hidden;

          .btn {
            &:hover {
              background: $prime97;
              opacity: 0.8;
              transition: background 0.1s linear;
            }
          }
          .btn1 {
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
          }
          .btn1 {
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
          }
        }

        &:hover {
          border: 1px solid $prime93;
          .icon-img-wrap {
            &:after {
              content: "";
              background: $light100;
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              opacity: 0.4;
            }
          }
          .btns-wrap {
            visibility: visible;
            transition: visibility 1s linear, opacity 1s linear;
          }
        }
      }
    }
  }
}
