.ft-sidebar {
  border-right: 1px solid $prime-shade-75 !important;
  height: 100%;
  &--mobile {
    height: 5rem;
    border-right: 0px solid !important;
  }
  &--icon {
    color: $light100;
    background: $prime-shade-65;
    transition: transform 0.3s;
    &:not(&--selected):hover {
      background: $prime-shade-45;
      transform: scale(1.05);
      transition: transform 0.3s;
    }
    &--selected {
      background: $prime;
    }
  }
}

.add-items-selection {
  &:hover {
    background: $prime93;
  }
}

.ft-iframe-height {
  height: calc(100% - 4rem);
}

.ft-create-iframe-height {
  height: calc(100% - 24rem);
}
