.ft-vertical-timeline {
  &--header {
    height: 4.5rem;
    border-bottom: 1px solid $prime88;
    z-index: 1;
    position: relative;
  }
  &--content {
    height: calc(100% - 4.5rem);
    z-index: 0;
    position: relative;
    &-element {
      &--card {
        border: 1px solid $dark3;
        background: $prime98 !important;
        border-radius: 0.8rem !important;
        // box-shadow: 0px 4px 6px rgba(42, 83, 204, 0.12) !important;
        //  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
        box-shadow: 0 0.5rem 1rem rgba(42, 83, 204, 0.15) !important;
        &:hover {
          box-shadow: 0px 9px 18px rgba(42, 83, 204, 0.08) !important;
        }
      }
    }
  }
}

// Overrite
.vertical-timeline-element-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    display: block !important;
    width: 100% !important;
    height: 100% !important;
    position: static !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
  }
}
