$base-font-size: 10px;
$base-font-color: black;
$base-bg-color: white;

$prime: #0693e3;
// $prime: #0d6efd;
// $prime: #1743c4;
// $prime: #0fa3f8;
$prime98: #f9fafd;
$prime97: #f2f5fc;
$prime93: #e6eaf7;
$prime88: #d5dbec;

$prime-shade-45: #537393;
$prime-shade-62: #6285a7;
$prime-shade-65: #839eb9;
$prime-shade-75: #b0c4d8;

$black: black;
$dark1: #262626;
$dark2: #898989;
$dark3: #c2c1c1;
$dark4: #24292e;
$dark5: gray;
$light1: #bec5da;
$light2: #efefef;
$light3: #f9f9f9;
$light100: #ffffff;
$red: #e87271;
$red1: #cb3837;
$red2: red;

$blue1: #8ed1fc;
