$base-font-size: 10px;
$base-font-color: black;
$base-bg-color: white;

$prime: #1743c4;
$prime98: #f9fafd;
$prime97: #f2f5fc;
$prime93: #e6eaf7;
$prime88: #d5dbec;

$prime-shade-45: #537393;
$prime-shade-62: #6285a7;
$prime-shade-62: #839eb9;

$black: black;
$dark1: #262626;
$dark2: #898989;
$dark3: #c2c1c1;
$light1: #bec5da;
$light2: #efefef;
$light3: #f9f9f9;
$light100: #ffffff;
